<h2>Signup</h2>

<form action="/auth/signup" method="POST">
   <label> Email <br>
      <input type="text" name="email" placeholder="abc@email.com">
   </label><br>
   <label> Username <br>
      <input type="text" name="username" placeholder="SomeCoolUsername">
   </label><br>
   <label> Password <br>
      <input type="password" name="password" placeholder="**********">
   </label><br>
   <label> Bio <br>
      <textarea rows="2" cols="45" name="bio" placeholder="Tell people a little about yourself!"></textarea>
   </label><br>
   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}