<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="signupForm">
  <div class="mb-3">
    <label for="exampleInputemail1" class="form-label">Email</label>
    <input type="text" name="email" class="form-control" id="exampleInputemail1">
  </div>
    <div class="mb-3">
    <label for="exampleInputusername1" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputusername1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
   <div class="mb-3">
    <label for="exampleInputBio" class="form-label">Bio</label>
    <input type="text" name="username" class="form-control" id="exampleInputBio">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}