<h2>Signup Page View</h2>

<form action="/auth/signup" method="POST">
   <label> Email
      <input type="text" name="email">
   </label><br>
   <label> Username
      <input type="text" name="username">
   </label><br>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}