<h3>Make your Mark</h3>

<div class="container">
      <div class="row">
            <div class="col-12">
                  <div id='map'></div> 
            </div>
           
      </div>

<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
<script async defer src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<script async defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/maps.js"></script>
</div>