<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
      <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
         <a href="/auth/signup">Signup</a><br>
         <a href="/auth/login">Login</a><br>
         <a href="/user/profile">User Profile</a><br>
         <a href="/user/edit-profile">Edit User Profile</a><br>
         <a href="/pictureApp/main-feed">PictureApp Main Feed</a><br>
         <a href="/pictureApp/add-photo">PictureApp Add Photo</a><br>
         
      {{{body}}}

      <script src="/js/script.js"></script>
      

      
   </body>

</html>