<div id="editUserPage">
<h2>Edit User Information: {{user.username}}</h2>
 
<form action="/user/edit-profile/{{user._id}}/edit" method="POST">
  <label> Username:
    <br><input type="text" name="username" value="{{user.username}}" />
  </label><br><br>

  <label> Bio:
    <br><textarea rows="2" cols="45" name="bio">{{user.bio}}</textarea>
  </label><br><br>

  <button class="btn btn-outline-light btn-sm">Save changes</button>
</form>
</div>