<div id="editUserPage">
<h2>Edit User Information: {{user.username}}</h2>
 
<form action="/user/edit-profile/{{user._id}}/edit" method="POST">
  <div class="mb-3">
    <label for="username" name="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username"  value="{{user.username}}">
  </div>
  <div class="mb-3">
    <label for="bioInput" class="form-label">Bio</label>
    <input type="text" name="bio"  value="{{user.bio}}" class="form-control" id="bioInput">
  </div>
  <button type="submit" class="btn  btn-outline-light btn-sm">Save Changes</button>
</form> 