<h2>Add Picture View</h2>

<button onclick="getLocation()">Add current Lattitude and Longitude to Form</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  document.getElementById('lattitude').value = position.coords.latitude;
  document.getElementById('longitude').value = position.coords.longitude;
}
</script>


<form action="/pictureApp/add-photo" method="post" enctype="multipart/form-data">
    <label>Select Image File:</label>
    <input type="file" name="image"><br>
    <label>Latitude:</label>
    <input type="text" name="lattitude" id="lattitude" disabled><br>
    <label>Longitude:</label>
    <input type="text" name="longitude" id="longitude" disabled><br>
    <label>Description:</label>
    <input type="text"  name="description"><br>
    <input type="submit" name="submit" value="Upload">
</form>